Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*

    -readability-convert-member-functions-to-static
