Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*

    -readability-convert-member-functions-to-static,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -misc-non-private-member-variables-in-classes,
    -cppcoreguidelines-interfaces-global-init,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-vararg
