Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,

    -readability-convert-member-functions-to-static,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-magic-numbers,
    -bugprone-easily-swappable-parameters,
    -misc-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-type-union-access
